/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  margin-bottom:150px;
}
/* TopBar */
.menu {
  height: 86px;
  flex-shrink: 0;
  float: right;
  margin-right: 40px;
}
.dgt {
  display: flex;
  width: 218px;
  height: 58px;
  flex-direction: column;
  justify-content: center;
  float: left;

  text-align: center;
  font-style: normal;
  line-height: normal;
  margin-top: 13px;
  text-align: center;
  font-size: 18px;
  line-height: normal;
}

.line {
  color: #00a7dd;
  float: left;
  border-right: 2px solid #00a7dd;
  height: 55px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  display: flex;
}

.logo {
  width: 58px;
  height: 56px;
  flex-shrink: 0;
  float: left;
  margin: 13px 24px 2px 14px;
  text-decoration: none;
  display: flex;
}

nav {
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-shrink: 0;
  outline: none;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;

}

nav .adc {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  height: 86px;
  width: 120px;
}

nav .adc:hover,
.dropdown:hover .dropbtn {
  background-color: #00a7dd;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .adc {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content .adc:hover {
  background-color: #00a7dd;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* ButtonBar */
.bBar {
  margin-top: 10px;
  background: #00a7dd;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display:flex;
  bottom: 0;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: fixed;
  overflow:hidden;
  outline: none;
  flex-wrap: wrap;
}

.direccion {
  display: flex;
  width: 360px;
  height: 71px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 15px;
  margin-right: 25px;
}
.horario {
  display: flex;
  width: 120px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 15px;
  margin-right: 25px;
  flex-shrink: 0;
}
.imgT {
  width: 115px;
  height: 23px;
  flex-shrink: 0;
  margin-left: 15px;
  margin-right: 25px;
}
